.deck-list-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.deck-list-header h2 {
  margin: 0;
  width: 20rem;
  color: var(--color-one-dark);
}

.deck-list-header p {
  font-size: 1.25rem;
  font-weight: 800;
}

.deck-list-header a {
  border: 2px solid var(--color-one-dark);
  border-radius: 5px;
  padding: 4px 7px;
  color: var(--color-one-dark);
  margin-right: 4vmin;
}

.deck-list-header a:hover {
  background-color: var(--color-one-dark);
  color: white;
  border: none;
}

.decks-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 4vmin;
}

.deck-card {
  border-radius: 5px;
  width: 15rem;
}

.deck-card-even {
  border: 2px solid var(--color-three-dark);
  background-color: var(--color-two-light);
}

.deck-card-odd {
  border: 2px solid var(--color-five-dark);
  background-color: var(--color-four-light);
}

.deck-card-even .color-word {
  color: var(--color-three-dark);
}

.deck-card-odd .color-word {
  color: var(--color-five-dark);
}
