.TranslateForm form {
  padding-bottom: 2vmin;
  border-bottom: 1px solid lightgray;
}

.TranslateForm form input {
  width: 25rem;
  height: 2rem;
  padding-left: 2vmin;
  margin-right: 2vmin;
  font-size: 1.1rem;
}
