.TranslateForm form {
  padding-bottom: 2vmin;
  border-bottom: 3px solid var(--color-three);
}

.TranslateForm form input {
  width: 60%;
  height: 2rem;
  padding-left: 2vmin;
  margin-right: 2vmin;
}
