:root {
  --color-one: #cdb4db;
  --color-one-dark: #9764b4;
  --color-two: #ffc8dd;
  --color-three: #ffafcc;
  --color-three-dark: #ff1a6e;
  --color-four: #bde0fe;
  --color-five: #a2d2ff;
  --color-five-dark: #1a90ff;
  --color-six: #f6fff8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* background-color: var(--color-six); */
}

main {
  /* border: 2px solid black; */
  width: 70%;
  margin: 3vmin 0;
  padding: 10px;
  flex-grow: 1;
}

nav {
  height: 8vmin;
  width: 100%;
  font-size: 3.25vmin;
  color: var(--color-five-dark);
}

footer {
  font-size: 0.8rem;
  margin-bottom: 2vmin;
}

footer p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 800;
}

nav a:hover {
  color: var(--color-three-dark);
}

.btn {
  height: 2rem;
  width: 12vmin;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: var(--color-one);
}

.btn:hover {
  cursor: pointer;
  background-color: var(--color-four);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
  align-items: center;
}

.flex-even {
  justify-content: space-evenly;
}

.flex-space-be {
  justify-content: space-between;
}

.flex-align-end {
  align-items: flex-end;
}

.mw-logo {
  margin: 1px;
  width: 50px;
  height: 50px;
}

.card-wrapper {
  margin-top: 2vmin;
}

.card {
  width: 25rem;
  height: 8rem;
  padding: 5px 10px;
  margin-bottom: 2vmin;
  text-transform: lowercase;
  border: 1px solid var(--color-one-dark);
  border-radius: 5px;
}

.card p {
  margin: 1vmin;
}

.card-title {
  font-size: 1.4rem;
  width: 80%;
  text-transform: lowercase;
  border-bottom: 1px solid var(--color-two);
}

.card-grammar {
  font-size: 1rem;
}

.card-translation {
  font-size: 1.2rem;
}

.color-word {
  color: var(--color-one-dark);
}

.bg-color-one {
  background-color: var(--color-one);
}
