:root {
  --color-one: #cdb4db;
  --color-two: #ffc8dd;
  --color-three: #ffafcc;
  --color-four: #bde0fe;
  --color-five: #a2d2ff;
  --color-six: #f6fff8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0, auto;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-six);
}

main {
  /* border: 2px solid black; */
  width: 70%;
  margin: 3vmin 0;
  padding: 10px;
}

nav {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 800;
}

a:hover {
  color: var(--color-one);
}

.btn {
  height: 2rem;
  width: 12vmin;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: var(--color-one);
}

.btn:hover {
  cursor: pointer;
  background-color: var(--color-four);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
  align-items: center;
}

.flex-even {
  justify-content: space-evenly;
}

.flex-space-be {
  justify-content: space-between;
}

.mw-logo {
  margin: 1px;
  width: 50px;
  height: 50px;
}
