:root {
  --color-one: #cdb4db;
  --color-two: #ffc8dd;
  --color-three: #ffafcc;
  --color-four: #bde0fe;
  --color-five: #a2d2ff;
  --color-six: #f6fff8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-six);
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 800;
}

a:hover {
  color: var(--color-one);
}

.btn {
  height: 2rem;
  width: 12vmin;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: var(--color-two);
  color: var(--color-six);
}

.btn:hover {
  cursor: pointer;
  background-color: var(--color-four);
}

.flex-row {
  display: flex;
}

.flex-even {
  justify-content: space-evenly;
}
