.deck-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.deck-detail-header h2 {
  margin: 0;
  width: 20rem;
  color: var(--color-one-dark);
}

.deck-detail-header p {
  font-size: 1.25rem;
  font-weight: 800;
}

.cards-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 4vmin;
}

.flash-card {
  width: 25rem;
  border-radius: 5px;
}

.flash-card:nth-child(even) {
  border: 2px solid var(--color-one-dark);
  background-color: var(--color-one-light);
}

.flash-card:nth-child(odd) {
  border: 2px solid var(--color-five-dark);
  background-color: var(--color-four-light);
}

.flash-card:nth-child(even) nav {
  color: var(--color-one-dark);
}

.flash-card:nth-child(even) nav a:hover {
  color: var(--color-three);
}

.flash-card:nth-child(odd) nav {
  color: var(--color-three-dark);
}

.flash-card:nth-child(odd) nav a:hover {
  color: var(--color-one);
}

.flash-nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
  margin-top: 0;
}

.flash-content {
  font-size: 1.4rem;
  font-weight: 800;
  text-transform: lowercase;
  text-decoration: underline;
}

.flash-translation {
  font-size: 1.4rem;
  font-weight: 800;
  text-transform: lowercase;
}

#deck-detail-nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-right: 4vmin;
}

#deck-detail-nav a {
  border: 2px solid var(--color-one-dark);
  border-radius: 5px;
  padding: 4px 7px;
  color: var(--color-one-dark);
  font-size: 1.2rem;
  width: 10rem;
  height: 2.5rem;
  margin-left: 1vmin;
}

#deck-detail-nav a:hover {
  background-color: var(--color-one-dark);
  color: white;
  border: none;
}
